[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
flask = "*"
flask-cors = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
python-dotenv = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
